/* General Card Styles */
.card {
    border-radius: 8px;
    color: white;
    text-align: left;
  }
  
  /* Total Items Box */
  .total-items-box {
    background-color: #056385; /* Baby blue */
  }
  
  /* Low Stock Items Box */
  .low-stock-box {
    background-color: #177a3f; /* Calm green */
  }
  
  /* Total Users Box */
  .total-users-box {
    background-color: #815600; /* Calm orange */
  }
  
  /* Items for Repair Box */
  .items-repair-box {
    background-color: #811818; /* Calm red */
  }
  
  /* Button Colors */
  .btn-orange {
    background-color: #ffa07a;
    border-color: #ffa07a;
    color: white;
  }
  
  .btn-orange:hover {
    background-color: #ff8c69;
    border-color: #ff8c69;
  }

  .table {
    background-color: #f8f9fa; /* Light gray background */
    border: 1px solid #dee2e6;
    color: #333;
  }
  
  .table th {
    background-color: #e9ecef;
    color: #495057;
    font-weight: bold;
  }
  
  .table td {
    background-color: #f8f9fa;
    color: #333;
  }
  
  .table tr:hover {
    background-color: #e2e6ea;
  }