.navbar {
    height: 100vh; /* Full height */
    width: 250px; /* Sidebar width */
    position: fixed; /* Fixed position */
    top: 0;
    left: 0;
    background-color: #15191b; /* Light background */
    height: 100vh;
    padding: 20px;
    padding: 60px 0px 0px 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: hidden; /* Hide scrollbar by default */
    transition: overflow-y 0.3s ease; /* Smooth transition for scrollbar visibility */
  }
  

  
.user-icon {
  text-align: center;
  margin-bottom: 20px;
}

.user-name {
  font-size: 14px;
  margin-top: 5px;
  color: #ffffff;
}

  .navbar:hover {
    overflow-y: auto; /* Show scrollbar on hover */
}

/* Custom scrollbar styling */
.navbar::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

.navbar::-webkit-scrollbar-thumb {
    background-color: #555; /* Scrollbar thumb color */
    border-radius: 4px; /* Rounded corners for the scrollbar thumb */
}

.navbar::-webkit-scrollbar-thumb:hover {
    background-color: #007bff; /* Change color on hover */
}

.navbar::-webkit-scrollbar-track {
    background-color: #15191b; /* Scrollbar track color */
}


/* Navbar title styling */
  /*Empty at the moment cause there's no title above navbar*/
  .navbar-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  /*Empty at the moment cause there's no title above navbar*/

  /* User icon styling */
  .navbar .user-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-left: -30px; /* Move the icon slightly to the left */
  }

  .navbar .user-icon svg {
    font-size: 80px; /* Increase the size of the user icon */
    color: #ffffff; /* White color for the icon */
}

  .navbar .user-icon .user-name {
    color: #ffffff; /* White text color */
    font-size: 0.9rem; /* Smaller font size */
    margin-top: 5px; /* Small spacing below the icon */
}

  /* User icon styling */
  .nav {
    list-style: none;
    padding: 0;
  }
    
  
  .nav-item {
    margin-bottom: 0.5rem, 0;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #dedede;
    font-size: 1rem;
    display: block;
    padding: 0.5rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .nav-link:hover {
    background-color: #212121;
    color: #007bff;
  }
  
  .nav-link.text-danger {
    color: #dc3545;
  }
  
  .nav-link.text-danger:hover {
    background-color: #f8d7da;
  }

  
.nav-icon {
  margin-right: 10px;
  font-size: 18px;
}

